<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="./test/bootstrap.php">
    <testsuites>
        <testsuite name="Rych Thumbnail Finder Test Suite">
            <directory suffix="Test.php" phpVersion="5.3.0" phpVersionOperator=">=">./test</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./test</directory>
                <directory>./vendor</directory>
                <directory suffix="Interface.php">./</directory>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="./build/logs/clover.xml" />
    </logging>
</phpunit>
